.fundolocal{
	margin-top: 10px; 
	margin-bottom: 10px; 
	padding: 5px; 
	background-color: #EEEEEE; 
	position: relative;
}
.bordaimglocal{
	padding: 5px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	position: absolute;
	top: -50px;
	left: 250px;
	height: auto;
	width: auto;
}