.agendabordalista{
	padding-bottom: 8px;
	height: auto;
	width: 555px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	margin-bottom: 10px;
}
.agendabordatitulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

.agendadescricaotitulo{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
.agendatitulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 16px;	
	margin-bottom: 10px;
}
.agendadata{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006666;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px;
	height: 18px;
	font-weight: bold;
	background-color: #D8E2DE;
	background-image: url(../icones/setaagenda.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
}
.agendainfodata{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006666;
	font-weight: normal;
}
.agendacoment{
	border: 1px dotted #CCCCCC;
	padding: 5px;
}