.fundocomentado{
	width: 545px; 
	margin-top: 10px; 
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	background-color: #EFEFEF;
	border: 1px solid #CCCCCC;
	padding: 5px;
	text-align: left;
}
.titulocomentado{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 color: #006699;
	 font-weight: bold;
}
.datacomentado{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	margin-top: 2px;
	font-weight: normal;
	font-style: italic;
}
.descricaocomentado{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	margin-top: 10px;	
}
.destaquecomentado{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	font-weight: bold;
}
.combordalista{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 2px solid #CCCCCC;
	height: auto;
	width: 555px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.combordatitulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}
.comdescricaotitulo{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
.comdata{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	margin-top: 2px;
	font-weight: normal;
	font-style: italic;
}
.comemail{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top: 4px;
	font-weight: normal;
}
.comcaixacomentario{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-align: right;
	font-weight: normal;
}

/* formulario */
.comcaixaform{
	padding: 10px;
	width: 300px;
	height: auto;
	border: 2px solid #999999;
	background-color: #F9F9F9;
	position: absolute;
	top: -30px;
	left: -1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	text-align:left;
	z-index: 50;
}
.comform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	width: 295px;	
	margin-bottom: 8px;
	z-index: auto;
}
.comcaracteres{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
}
.combotaoform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}
.comload{
	margin-top: 10px;
	display: none;
}
