.tituloforma{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006666;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px;
	height: 18px;
	font-weight: bold;
	background-color: #D8E2DE;
	background-image: url(../icones/setaagenda.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
	text-align: left;
	margin-top: 10px;
}
.tabelacontato{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	text-align: left;
}
.formcontato{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	width: 200px;
}
.contatobotaoform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 2px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}
.campoobr{
	font-size: 11px;
	padding-top: 3px;
}