.tituloenquete{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
}
.bordaenquete{
	margin: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 15px;
	color: #333333;
	text-align: left;
	margin-top: 10px;
}
.bordaenquete a{
	display: block;
	padding: 2px;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	border: 1px solid #999999;
	float: left;
	margin-right: 5px;
}
.bordaenquete a:hover{
	color: #006699;
	border: 1px solid #666666;
}
.barravotos{
	margin-bottom: 10px;
	height: 8px;
	background-color: #DDDDDD;
	margin-top: 1px;
	background-image: url(../icones/barrraenquete.jpg);
}
.votos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#990000;
}

.enqueteaviso{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #990000;
	margin-top: 10px;
}