.fundoexibe {
	width: 550px;
	padding: 5px;
	height: 470px;
	background-color: #FFFFFF;
	display: block;
}
.bordacontrole{	
	height: 65px;
	padding-left: 10px;
}
a.linkcontrole{
	 display: block;
	 background-color: #006666;
	 height: 61px;
	 margin: 3px;
	 width: 40px;
	 float: left;
	 text-decoration: none;
}

a.lkesquerdo{
	background-image:url(../icones/galeriasetaesq.gif);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 3px solid #CCCCCC;
}
a.lkesquerdo:hover{
	border-left: 3px solid #FF6600;
}


a.lkdireito{
	background-image:url(../icones/galeriasetadir.gif);
	background-position: center;
	background-repeat: no-repeat;
	border-right: 3px solid #CCCCCC;	
}
a.lkdireito:hover{
	border-right: 3px solid #FF6600;
}

.bordaminiatura{
	width: 420px;
	height: 65px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;	
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	border: 0px;
}
.fundominiatura{
	width: 25000px;
	height: 65px;
	padding: 0px;
	margin: 0px;
}
.fundominiatura img{
	height: 53px
}
.fundominiatura a{
	display: block;
	margin: 3px;
	float: left;
	height: 53px;
	width: 70px;
	border: 1px solid  #CCCCCC;
	padding: 3px;
	overflow: hidden;
	text-align: center;
}
.fundominiatura a:hover{
	border: 1px solid  #666666;	
}
.fundonfotos{
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.exibefoto{
	background-color: #FFFFFF;
	width: 550px;
	height: 413px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.exibe{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 550px;
	height: 413px;
	background-color: #FFFFFF;
	text-align: center;
	overflow: hidden;
}
.fundomenu{
	margin-top: 5px;
	height: 28px;
}
.fundomenu a{
	display: block;
	float: right;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #006666;
	margin-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
.fundomenu a:hover{
	border: 1px solid #666666;
	color: #FF6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.fundoload{
	background-image: url(../load28.gif);
	float: left;
	height: 28px;
	width: 28px;
	display: none;
}
#exibe1{
	z-index: 10;
}
#exibe2{
	z-index: 9;	
}
.fundoatalhos{
	margin: 0px;
	border-top: 1px solid #CCCCCC;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	
}
.fundoatalhos div{
	margin-bottom: 5px;
	color: #FF6600;
	font-weight: bold;
}
.fundoatalhos  span{
	font-weight: bold;
	color: #006666;
}