.fundoopaco{
	background-color:#333333;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	display: none;
}
.fundoexibe {
	border-right: 1px solid #CCCCCC;
	width: 480px;
	padding: 5px;
	float: left;
	margin-right: 5px;
	height: 416px;
	background-color: #FFFFFF;
	display: block;
	text-align: left;
	border-left: 30px solid #FFFFFF;
}
.fundoexibemodo {
	border: 2px solid #999999;
	width: 480px;
	padding: 5px;
	float: left;
	margin-right: 5px;
	height: 423px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
	text-align: left;
}
.fundominiatura{
	width: 140px;
	height: 426px;
	float: left;
	padding: 0px;
	overflow: auto;
	margin: 0px;
	margin-bottom: 10px;
}
.fundominiatura a{
	display: block;
	margin: 3px;
	float: left;
	height: 75px;
	width: 100px;
	border: 1px solid  #CCCCCC;
	padding: 3px;
	overflow: hidden;
	text-align: center;
}
.fundominiatura a:hover{
	border: 1px solid  #666666;
}
.fundominiaturamodo{
	width: auto;
	height: auto;
	float: left;
	padding: 5px;
	overflow: visible;
	margin-bottom: 10px;
}
.fundominiaturamodo a{
	display: block;
	margin: 3px;
	float: left;
	height: 75px;
	width: 100px;
	border: 1px solid  #CCCCCC;
	padding: 3px;
	text-align: center;
	overflow: hidden;
}
.fundominiaturamodo a:hover{
	border: 1px solid  #666666;
}
.fundonfotos{
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.exibefoto{
	background-color: #FFFFFF;
	width: 480px;
	height: 360px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.exibe{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 480px;
	height: 360px;
	background-color: #FFFFFF;
	text-align: center;
	overflow: hidden;
}
.fundomenu{
	border-top: 1px solid #DDDDDD;
	padding-top: 5px;
	margin-top: 5px;
	height: 28px;
}
.fundomenu a{
	display: block;
	float: right;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #006666;
	margin-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
.fundomenu a:hover{
	border: 1px solid #666666;
	color: #FF6600;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.fundoload{
	background-image: url(../icones/load28.gif);
	float: left;
	height: 28px;
	width: 28px;
	display: none;
}
#exibe1{
	z-index: 10;
}
#exibe2{
	z-index: 9;	
}
#botfecha{
	display: none;
}
.fundomodo{
	border-bottom: 3px solid #006666;
	margin-bottom: 10px;
	height: 25px;
}
a.linkmodo{
	display: block;
	padding: 5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #006666;
	font-size: 12px;
	text-decoration: none;
	background-color: #FFFFFF;
	margin-right: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
a.linkmodo:hover{
	color: #333333;
	text-decoration: none;
	background-color: #EAEEED;
}
a.linkmodoover{
	display: block;
	padding: 5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	background-color: #006666;
	margin-right: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
a.linkmodoover:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #006666;
}
.fundoatalhos{
	margin: 0px;
	border-top: 1px solid #CCCCCC;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.fundoatalhos div{
	margin-bottom: 5px;
	color: #FF6600;
	font-weight: bold;
}
.fundoatalhos span{
	font-weight: bold;
	color: #006666;
}
.restante{
	margin-bottom: 15px;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
}