.menutopo {
	background-image:url(../icones/topomenu.jpg);
	background-repeat: no-repeat;
	width: 165px;
	height: 54px;
}
.menufundo{
	background-image:url(../icones/fundomenu.jpg);
	background-repeat: repeat-x;
	width: 165px;
	padding-top: 10px;
	background-color:#990000;
}
.menurodape{
	background-image:url(../icones/rodapemenu.jpg);
	background-repeat:no-repeat;
	width: 165px;
	height: 13px;
}
a.menulink{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 3px;	
	margin-left: 5px;
	text-decoration: none;
	font-weight: bold;
	text-align: left;
}
a.menulink:hover{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 3px;	
	padding-left: 8px;
	margin-left: 5px;
	text-decoration: none;
	font-weight: bold;
	text-align: left;
}
body{
	margin: 0px;
	background-color: #333333;
	padding: 0px;
}
.fundosite{
	background-color: #FFFFFF;
}
.corpo{
	padding-left: 5px;
	padding-right: 5px;
}
.topo{
	margin-bottom: 15px;
	position: relative;
	height: 180px;
}
.topo div{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	right: 21px;
	bottom: -11px;
}	
.caixatopointerno{
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	border-bottom: 3px solid #999999;
	padding-bottom:  4px;
	background-image: url(../icones/setacaixa.jpg);
	background-repeat: no-repeat;
	padding-left: 13px;
	font-size: 18px;
	height: 22px;
	position: relative;
}
.caminho{
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: normal;
}
a.linkcaminho{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
a.linkcaminho:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: underline;
	font-weight: normal;
}
a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	text-decoration: none;
	font-weight: normal;
}
.topobotaointerno{
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
	height: 40px;
}
.descricaobotao{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	float: right;
}
.titulopublicidade{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 165px;
}
.bannerlateral{
	background-color: #DDDDDD;
	width: 165px;
	height: 90px;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
	z-index: 0;
}
.bannercentral{
	background-color: #DDDDDD;
	width: 530px;
	height: 65px;
	margin-bottom: 15px;
	overflow: hidden;
	z-index: 0;
	position:relative;
}
a.bannerlink{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-image: url(../icones/fundobanner.gif);
	cursor: pointer;
	text-decoration: none;
}
.areaenquete{
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006666;
	margin-top: 18px;
	margin-bottom: 5px;
	width: 165px;	
	font-weight: bold;
	border-bottom: 2px solid #006666;
	padding-bottom: 3px;
}
.rodape{
	background-image: url(../icones/fundorodape.jpg);
	padding-top: 35px;
	padding-right: 10px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: right;
	margin-top: 10px;
}
.rodape a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	float: left;
	margin-left: 15px;
}
.rodape a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
}
.termos{
	text-align:justify;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.exibindo{
	 font-size: 12px; 
	 color: #555555;
	 font-weight: normal;
}
.fundobusca{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
	font-weight: bold;
	height: 30px;
	position: relative;
}
.fundoexibindo{
	text-align: left;
	padding: 8px;
	margin-bottom: 15px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	background-color: #EEEEEE;
	width: 544px;
	height: auto;
	display: block;
	float: none;
}
.formbusca{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 1px solid #999999;	
	width: 130px;
	font-weight: normal;
}
.botaobusca{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
	border: 1px solid #999999;	
	background-color: #FFFFFF;
}
.vertodosbusca{
	float: right; 
	padding: 10px;	
}
.caixabusca{
	border: 2px solid #999999;
	padding: 10px; 
	position: absolute; 
	display: none; 
	background-color: #FFFFFF; 
	top: 32px; 
	left: 0px;
	text-align: center;
}
.resultadobusca{
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	height: 20px;
}
.fundopaginacao{
	padding-top: 8px;
	height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
}
.fundocentro{
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	width: auto;
	height: auto;
}
.msgaviso{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 5px;
	color: #006600;
	font-size: 12px;	
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color:#E1FFE2;
	border: 1px solid #009900;
}
.msgerro{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #CC0000;
	background-color:#FFF0F0;
	margin-bottom: 15px;
	border: 1px solid #FF9194;
}
.bordaminiatura{
	padding: 2px;
	border: 1px solid #CCCCCC;
	margin-right: 10px;
	margin-bottom: 0px;
	float: left;
	background-color:#FFFFFF;
}
.separadorform{
	height: 10px;
	width: auto;
	border-bottom: 2px solid #CCCCCC;
}
a.bordaimg img{
	border: 1px solid #CCCCCC;
	padding: 2px;
	background-color: #FFFFFF;
	float: left;
	margin-right: 10px;
}

a.bordaimg:hover img{
	border: 1px solid #666666;
}

/* radio */
#bordaradio{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 160px;
	height: 15px;
	padding: 3px;
	padding-left: 5px;
	padding-top: 8px;
	background-color: #FFF;
}

#bordaradio a{
	float: left;
	display: block;
	margin: 5px;
	border: 1px solid #FFF;
}
#bordaradio h4{
	float: right;
	font-size: 12px;
	color: #333;
	display: block;
	padding: 0px;
	margin: 5px;
	z-index: 40;
}
#tocando{
	position: absolute;
	height: 8px;
	right: 6px;
	bottom: -9px;
	display: none;
}