.noticiabordalista{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 2px solid #CCCCCC;
	height: auto;
	width: 555px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.noticiaborda{
	padding-top: 8px;
	padding-bottom: 8px;
	height: auto;
	width: 555px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.noticiabordatitulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

a.noticiatitulolista{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 color: #006699;
	 font-weight: bold;
	 text-decoration: none;
}
a.noticiatitulolista:hover{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 color: #006699;
	 font-weight: bold;
 	 text-decoration: underline;
}

.noticiadescricao{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}

.noticiadata{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	margin-top: 2px;
	font-weight: normal;
	font-style: italic;
}

.titulovisualiza{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 color: #006699;
	 font-weight: bold;
}

.noticiaautor{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 15px;
}
.bordafoto{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #CCCCCC;
	height: auto;
	width: 555px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #333333;
	text-align: left;
}
.bordaimpressao{
	text-align: right;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.logodiariosapezal{
	position: absolute;
	right: 10px;
	padding: 5px;
	background-color: #FFFFFF;
	top: 5px;
}
