a.page {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin:1px;
	margin-right: 2px;
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
a.page:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	font-weight: bold;
	text-decoration: none;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin:1px;
	margin-right: 2px;
	display: block;
	background-color: #EFEFEF;
	border: 1px solid #999999;
}
.page_texto{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 4px;
	margin-left: 5px;
	font-weight: normal;
	padding: 0px;
	float: left;
}
.page_atual{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	font-weight: bold;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 1px;
	margin-right: 2px;
	background-color: #EFEFEF;
	border: 1px solid #999999;
}
.page_paginas{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 4px;
	margin:1px;
	margin-right: 2px;
	margin-left: 0px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF; 
}