.parceirobordalista{
	padding-bottom: 8px;
	height: auto;
	width: auto;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	margin-bottom: 10px;
	text-align: justify;
	margin-right: 30px;
}
.parceirobordatitulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: normal;
}

.parceirodescricaotitulo{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
a.parceironome{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 16px;	
	display: block;
	text-decoration: none;
	font-weight: bold;
}
a.parceironome:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 16px;	
	display: block;
	text-decoration: underline;
	font-weight: bold;
}
.parceirooculto{
	border-left: 2px solid #FF9900;
	padding-left: 8px;
	margin: 3px;
	margin-left: 10px;
	width: 100%;
	display: table;
	margin-top: 8px;
	margin-bottom: 10px;
}