.videobordalista{
	padding: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: auto;
	width: 550px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	background-color: #EEEEEE;
	margin-top: 8px;
	border-bottom: 1px solid #DDDDDD;
}
a.videotitulo{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 color: #006699;
	 font-weight: bold;
	 text-decoration: none;
}
a.videotitulo:hover{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 color: #006699;
	 font-weight: bold;
	 text-decoration: underline;
}

.videodata{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	margin-top: 2px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
a.videocomentario{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	margin-top: 2px;
	display: block;
	text-decoration: none;
	background-image: url(../icones/video.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-bottom: 2px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

a.videocomentario:hover{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	margin-top: 2px;
	display: block;
	text-decoration: none;
	background-image: url(../icones/video.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-bottom: 2px;
	height: 20px;
	float: right;
	padding-right: 5px;
}