.bordaload{
	background-image: url(../imagens/load.gif);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	height: 50px;
	z-index: 20;
	background-color: #F9F9F9;	
	border: 2px solid #999999;
	width: 160px;
	display: none;
	text-align: center;
}

.bordaamplia{
	padding: 0px;
	position: absolute;
	z-index: 23;
	background-color: #F9F9F9;	
	border: 2px solid #999999;
	visibility: hidden;
	text-align: center;
}

.imgamplia{
	margin: 6px;
	cursor: pointer;
}