.tabelacadastra{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

.titulotabela{
	color: #666666;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.dica{
	text-align: left;
	font-size: 11px;
	color: #666666;
}