.formlogin{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}
.borda{
	background-color: #FFFFFF;	
	border: 1px solid #CCCCCC;
}
body{
	background-color: #FFFFFF;	
}
.rodapeindex{
	padding: 5px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #999999;	
	background-color: #F9F9F9;
	border-top: 1px solid #DDDDDD;		
}
.topo{
	background-color: #F9F9F9;
	border-bottom: 1px solid #DDDDDD;	
	padding: 8px;
	text-align: left;
}
.bordaform{
	background-image:url(../imagens/cadeado.jpg);
	background-repeat:no-repeat;
	background-position:left;
	border-bottom: 1px solid #DDDDDD;	
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}
.bordaformrecupera{
	border-bottom: 1px solid #DDDDDD;	
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}
.titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #006699;
	margin-bottom: 5px;
}
.subtitulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #006699;
}
.data{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: right;
}
a.linkrecupera{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	display: block;
	margin: 10px;
	text-decoration: none;
}
a.linkrecupera:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #006699;
	display: block;
	margin: 10px;
	text-decoration: none;
}