.bordaform{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	padding: 5px;
}
.bordaform br{
	clear: both;
}
.bordaform label{
    display: block;   
    float: left;  
    text-align: right;  
    width: 120px;   
	padding: 1px; 
	padding-right: 3px;  
	color: #333333;
}
.bordaform input{
    display: block;   
    float: left;   
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-bottom: 3px;
}
.bordaform span{
	text-align: left;
	font-size: 11px;
	color: #666666;
}

.bordasubmit{
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 10px;	
	margin-top: 10px;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	text-align: center;
	position: relative;
}
.clear{
	clear: both;
}
.bordasubmit span{
	position: absolute; 
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	right: 8px;
	top: 13px;
}

.bordasubmit input{
	display: inline;
	border: 2px solid #666666;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	float: none;
	background-color: #FFFFFF;
}