.topopagina{
	background-color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 8px;	
	height: 16px;
	overflow: hidden;
	padding-left: 12px;
}

.bordabusca{
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 4px;	
	margin-top: 5px;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	padding-left: 30px;
	background-image: url(../imagens/busca.jpg);
	background-repeat: no-repeat;
}

.bordaferramenta{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 6px;
	padding-bottom: 8px;	
	margin-top: 4px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	
}

.rodape{
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	padding: 5px;	
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	height: 23px;
}

.bordasubmit{
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 10px;	
	margin-top: 10px;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	text-align: center;
}

.obrigatorio{
	float: right; 
	position: relative; 
	top: -17px; 
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
}

.formbusca{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 1px solid #999999;
}

.botaobusca{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}

.titulotopo{
	float: left;
	margin-right: 5px;
}

.separadortopo{
	background-image: url(../imagens/separadormenu.gif);
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	float: left;
}

.caixaerro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	font-weight: bold;
	border: 1px solid #CC0000;
	padding: 5px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	background-color: #FFF9F9;
}

.caixaaviso{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
	font-weight: bold;
	border: 1px solid #009900;
	padding: 5px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	background-color: #F9FFF9;
}

a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}

a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: underline;
}

.bordaconfirma{
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: #006699;
	 position: absolute;
	 padding: 5px;
	 padding-top: 15px;
	 padding-bottom: 15px;
 	 height: auto;
	 z-index: 20;
	 background-color: #F9F9F9;	
	 border: 2px solid #999999;
	 width: 200px;
	 display: none;
	 text-align: center;
}

.form{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}

.bordamensagens{
	 text-align: center;
}

.bordaimg{
	padding: 1px;
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 10px;
	background-color:#FFFFFF;
}

.textotabela{
	text-align:left;
	color: #006699;
}

.textogeral{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}