.descricao{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 14px;
	color: #333333;
	margin-bottom: 20px;
}

.descricaoevento{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 14px;
	color: #333333;
	margin-bottom: 20px;
	background-image: url(../imagens/alerta.jpg);
	background-repeat: no-repeat;
	padding-left: 40px;
}

.bordamodulo{
	margin: 5px;
	margin-bottom: 20px;
}
.dadosmodulo{
	padding: 8px;
	border-top: 1px solid #DDDDDD;
}
.dadosmodulo a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.dadosmodulo a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
}
.titulomodulo{
	display: block;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	text-decoration: none;
	background-color: #F1F1F1;
	font-weight: bold;
	border-bottom: 1px solid #AAAAAA;
	border-top: 1px solid #EEEEEE;
}