.bordalista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 8px;
	border-bottom: 2px solid #999999;
	margin-top: 5px;
	padding-left: 10px;
}

.bordafotolista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 8px;
	border-bottom: 2px solid #999999;
	margin-top: 5px;
	padding-left: 10px;
	clear: both;
}

.titulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006699;
	font-weight: bold;
	width: 100%;
}

.titulolistad{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #990000;
	font-weight: bold;
	width: 100%;
}

.fotolista{
	height: auto; 
	width: 100%;
	display: table;
	font-size: 11px;
	color: #666666;
}

#detalhedados{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
	font-weight: normal;
	padding: 10px;
	padding-top: 0px;
	display: none;
	border-bottom: 2px solid #999999;
}

.dadoslista{
	color: #006699;
	margin: 10px;
	margin-left: 13px;
	border-left: 2px solid #FFFFFF;
	display: none;
	width: auto;
	border: 1px solid #CCCCCC;
	background-color:#F9F9F9;
	padding: 10px;
}

.dadoslista div{
	margin-left: 115px;
	position: relative;
	margin-bottom: 3px;
	clear: both;
}

.dadoslista img{
	float: none;
}

.dadoslista div span{
	left: -115px;
	width: 110px;
	top: 0px;
	position: absolute;
	display: block;
	color: #666666;
	font-weight: bold;
	padding: 0px;
	text-align: right;
}

.menulista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	margin-top: 5px;
	background-image:url(../imagens/setamenu.jpg);
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 10px;
}

.menulista a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}

.menulista a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	text-decoration: none;
}

a.detalhelista{
	display: block;
	margin-top: 8px;
	padding-left: 15px;
	margin-bottom: 3px;
	margin-left: 10px;
	background-image:url(../imagens/mais.jpg);
	background-repeat: no-repeat;
	text-decoration: none;
	color: #333333;
}

a.detalhelista:hover{
	display: block;
	margin-top: 8px;
	padding-left: 15px;
	margin-bottom: 3px;	
	margin-left: 10px;
	background-image:url(../imagens/mais.jpg);
	background-repeat: no-repeat;
	text-decoration: none;
	color: #006699;
}
.dica{
	text-align: left;
	font-size: 11px;
	color: #666666;
}

/* paginas liberar registos*/

.bordalistalibera {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #999999;
	margin-top: 5px;
	height: auto;
}
.bordalistalibera img{
	float: none;
}
.bordadadoslibera{
	position: relative;
	margin-left: 80px;
	border-left: 1px solid #CCCCCC;
	padding: 0px;
}
.marcalibera{
	position: absolute;
	top: 0px;
	left: -80px;
	padding: 30px;
}
.dadoslibera{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	padding-left: 10px;
	margin-bottom: 10px;
}
.dadoslibera span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.dadosreglibera{
	background-color: #CEF1FF;
	margin: 10px;
	padding: 5px;
}
.dadosreglibera span{
	font-style: italic;
	color: #666666;
}