html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
}

#menu{
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 185px;
	height: 100%;
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	border-right: 2px solid #CCCCCC;
}
#caixaframe{
	width:  auto;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	margin-left: 187px;
	top: 0px;
}
#fundopainel{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position:relative;
}
#lkoculta{
	margin-bottom: 5px;
}
.bordatitulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 10px;
	border-bottom: 2px solid #CCCCCC;
}
.titulosistema{
	font-size: 14px;
	color: #006699;
	margin-bottom: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.bordamenu{
	margin: 0px;
	padding: 0px;
	width: auto;
}

.bordamenu div{
	border-bottom: 0px;
	height: auto;
}

.datasistema{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
}

.usuariosistema{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	margin-bottom: 5px;
}

a.linkmenu{
	display: block;
	background-color: #006699;
	padding: 5px;
	padding-left: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid #003366;
	border-top: 1px solid #0099CC;
	clear: both;
}
a.linkmenu:hover{
	display: block;
	background-color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-right: 4px solid #FF6600;
	border-bottom: 1px solid #222222;
	border-top: 1px solid #222222;
}

a.linksubmenu{
	display: block;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	background-color: #F5F5F5;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #AAAAAA;
	padding-left: 6px;
}

a.linksubmenu:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top: 1px solid #DDDDDD;
}

a.lkexibe{
	background-color: #333333;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding:5px;
	display: none;
}

a.lkexibe:hover{;
	color: #FFCC00;
	text-decoration: none;
}