.bordaload{
	padding: 5px;
	position: absolute;
	z-index: 20;
	background-color: #FFFFFF;	
	border: 2px solid #999999;
	width: 130px;
	display: none;
	text-align: center;
}

.imgload{
	background-image: url(../icones/load28.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-repeat: no-repeat;
	height: 15px;
	padding: 5px;
	padding-left: 40px;
	text-align: left;
	color: #006666;
}

.bordaamplia{
	padding: 0px;
	position: absolute;
	z-index: 23;
	background-color: #FFFFFF;	
	border: 3px solid #666666;
	visibility: hidden;
	text-align: center;
	height: auto;
}

.imgamplia{
	margin: 15px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
}
.topoamplia{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	padding: 3px;
	padding-left: 5px;
	text-align: left;
	margin: 0px;
	background-color: #EFEFEF;
	border-bottom: 1px solid #CCCCCC;
}