a.titulo{
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006699;
	margin-top: 10px;
}
a.titulo:hover{
	color: #006699;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
a.bordacartaz img{
	border: 1px solid #CCCCCC;
	padding: 2px;
	background-color: #FFFFFF;
}

a.bordacartaz:hover img{
	border: 1px solid #666666;
}
.dicaborda{
	width: 160px;
	background-color: #D8E2DE;
	margin: 3px;
	padding: 10px;
	padding-top: 20px;
	min-height: 140px;
	float: left;
}
.titulodica{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #006699;
	margin-bottom: 20px;
	font-weight: bold;
	height: 16px;
	padding: 0px;
	text-align: left
}
.dicavideoborda{
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	text-align: left
}
.dicavideoborda div{
	margin-bottom: 10px;
	margin-left: 95px;
	position: relative;
}
.dicavideoborda span{
	display: block;
	position: absolute;
	top: 0px;
	left: -95px;
	width: 90px;
	text-align: right;
	color: #333333;
	font-weight: bold;
}