#bordagaleria{
	background-color: #FFF;
	width: 710px;
	height: 410px;
	position: relative;
}
#exibe0{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 480px;
	height: 360px;
	background-color: #FFF;
	text-align: center;
	z-index: 2;
}
#exibe1{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 480px;
	height: 360px;
	background-color: #FFF;
	text-align: center;
	z-index: 1;
}
#load{
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #FFF;
	padding: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	z-index: 1000;
	width: 110px;
	padding-left: 35px;
	display: none;
	border: 1px solid #CCC;
	background-image: url(load28.gif);
	background-repeat: no-repeat;
}
#setaslide{
	position: absolute;
	top: 12px;
	left: 10px;
	z-index: 999;
	display: none;
}
#bordaminiaturas{
	display: inline;
	margin: 3px;
	width: 185px;
	float: right;
	border-left: 1px solid #DDD;
	padding-left: 2px;
	overflow: hidden;
}
#miniaturas{
	height: 350px;	
}
#miniaturas img{
	height: 64px;
}
#miniaturas a{
	display: block;
	width: 85px;
	height: 64px;
	float: left;
	overflow: hidden;
	margin: 3px;
	text-align: center;
}
#miniaturas a:hover{
	display: block;
	width: 85px;
	height: 64px;
	float: left;
	overflow: hidden;
	margin: 3px;
	text-align: center;
    opacity: 0.5; 
    MozOpacity: 0.5; 
    KhtmlOpacity: 0.5; 
    filter: alpha(opacity=50); 
}

#totalmin{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	padding: 3px;
	border-bottom: 2px solid #999;
	padding-top: 10px;
	text-align: right;
	clear: both;
}
#navmin{
	margin-top: 5px;
	text-align: right;
	position: relative;
	width: 100%;
}
#minst{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #069;
	position: absolute;
	display: block;	
	left: 5px;
	top: 5px;
}
#navmin img{
	cursor: pointer;
}

/* foto */
#nav{
	position: absolute;
	clear: both;
	padding: 2px;
	bottom: 0px;
	left: 0px;
	width: 480px;
	text-align: left !important;
}
#fotost{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #069;
	position: absolute;
	display: block;	
	left: 95px;
	top: 8px;
}
#nav img{
	cursor: pointer;
}
#status{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	position: absolute;
	display: block;	
	right: 0px;
	top: 7px;
}