.equipebordalista{
	padding-bottom: 8px;
	height: auto;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	margin-bottom: 10px;
}
.equipebordatitulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: normal;
}

.equipedescricaotitulo{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
.equipenome{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 16px;	
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 4px;
}
.equipecargo{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
	font-style: italic;

}
.equipeoculto{
	border-left: 2px solid #FF9900;
	padding-left: 8px;
	margin: 3px;
	margin-left: 10px;
	display: table;
	margin-top: 8px;
	margin-bottom: 10px;
	float: left;
}