.fundomenuh{
	background-color: #990000;
	height: 35px;
	margin-bottom: 15px;
	padding: 0px;
	background-image: url(../icones/fundomenuh.jpg);
	position: relative;
	z-index: 1;
}
.fundomaisg{
	background-color: #FFFFFF;
	border: 1px solid #990000;
	padding: 8px;
	width: 250px;
	position: absolute;
	top: 34px;
	left: 472px;
	text-align: left;
	z-index: 1;
	text-align:right;
}
.tituloevento{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006666;
	font-size: 20px;
	margin-top: 15px;
	text-align: left;
	width: 450px;
	display: block;
	margin-bottom: 5px;
}
a.linkmenuh{
	display: block;
	padding: 10px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	text-decoration: none;
	font-weight: bold;
}
a.linkmenuh:hover{
	display: block;
	padding: 10px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	font-weight: bold;
	text-decoration: underline;
}
a.linkmaisg{
	display: block;
	padding: 10px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	text-decoration: none;
	font-weight: bold;
	background-image: url(../icones/setamaisg.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
}
a.linkmaisg:hover{
	display: block;
	padding: 10px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	text-decoration: underline;
	font-weight: bold;
	background-image: url(../icones/setamaisg.jpg);
	background-repeat: no-repeat;
	padding-left: 20px;
}
a.titulomaisg{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #CCCCCC;	
	margin-bottom: 4px;
	text-decoration: none;
	text-align: left;
}
a.titulomaisg:hover{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #CCCCCC;	
	text-decoration: underline;
	margin-bottom: 4px;
	text-align: left;
}
.qtdfotos{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	margin-bottom: 10px;
}
.fundodescricao{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	margin-bottom: 30px;
	font-size: 12px;
	position: relative;
	min-height: 70px;
}
.bannerrodape{
	background-color: #DDDDDD;
	height: 80px;
	width: 360px;
	float: left;
	margin: 5px;
	margin-top: 25px;
	overflow: hidden;
}
.bannertopo{
	background-color: #DDDDDD;
	height: 75px;
	width: 250px;	
	margin: 5px;
	z-index: 0;
	overflow: hidden;
}
.maigexibindo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	margin-bottom: 10px;
	font-size: 12px;
	padding-bottom: 5px;
	border-bottom: 2px solid #CCCCCC;
	text-align: left
}
.fundovertodas{
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: left;
}