.fundoexibe {
    /*width: 550px;*/
    padding: 5px;
    height: 560px;
    background-color: #FFFFFF;
    display: block;
}
.bordacontrole{	
    height: 65px;
    padding-left: 10px;
}
a.linkcontrole{
    display: block;
    background-color: #B20000;
    height: 61px;
    margin: 3px;
    width: 40px;
    float: left;
    text-decoration: none;
}

a.lkesquerdo{
    background-image:url(../../icones/galeriasetaesq.gif);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 3px solid #CCCCCC;
}
a.lkesquerdo:hover{
    border-left: 3px solid #FF6600;
}


a.lkdireito{
    background-image:url(../../icones/galeriasetadir.gif);
    background-position: center;
    background-repeat: no-repeat;
    border-right: 3px solid #CCCCCC;	
}
a.lkdireito:hover{
    border-right: 3px solid #FF6600;
}

.bordaminiatura{
    width: 790px;
    height: 65px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;	
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
}
.fundominiatura{
    width: 25000000px;
    height: 65px;
    padding: 0px;
    margin: 0px;
}
.fundominiatura img{
    height: 53px
}
.fundominiatura a{
    display: block;
    margin: 3px;
    float: left;
    height: 53px;
    width: 70px;
    border: 1px solid  #CCCCCC;
    padding: 3px;
    overflow: hidden;
    text-align: center;
}
.fundominiatura a:hover{
    border: 1px solid  #666666;	
}
.fundonfotos{
    margin-bottom: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDDDDD;
}
.exibefoto{
    background-color: #FFFFFF;
    /*width: 550px;*/
    height: 500px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.exibe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
    text-align: center;
    overflow: hidden;        
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.exibeContainer{
    position: relative;
    display: table-cell;   
    text-align: center;
    vertical-align: middle;
    height: 500px;
    width: 908px;
}
.exibeContainer img{
    position: relative;
    vertical-align: middle;
}
.fundomenu{
    margin-top: 5px;
    height: 28px;
}
.fundomenu a{
    display: block;
    float: right;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #999999;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #B20000;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.fundomenu a:hover{
    border: 1px solid #666666;
    color: #FF6600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.fundoload{
    background-image: url(../../load28.gif);
    float: left;
    height: 28px;
    width: 28px;
    display: none;
}
#exibe1{
    z-index: 10;
}
#exibe2{
    z-index: 9;	
}
.fundoatalhos{
    margin: 0px;
    border-top: 1px solid #CCCCCC;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    text-align: left;

}
.fundoatalhos div{
    margin-bottom: 5px;
    color: #FF6600;
    font-weight: bold;
}
.fundoatalhos  span{
    font-weight: bold;
    color: #006666;
}


.barraperfil{
    border-bottom: 2px solid #B20000;
    text-align: left;
    height: 29px;
    margin-bottom: 20px;
}

a.linkbarra{
    display: block;
    padding: 5px;
    background-color: #B20000;
    color: #FFFFFF;
    margin-right: 1px;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a.linkbarra:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: underline;
}
a.linkbarradesat{
    display: block;
    padding: 5px;
    background-color: #E9EFEC;
    color: #333333;
    margin-right: 1px;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a.linkbarradesat:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
    text-decoration: underline;
}