.galeranome{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 14px;
	font-weight: bold;
	/* background-color: #EAFAFF; */
	padding: 5px;	
}
.galeradianiver{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	float: right;
	margin-right: 3px;
	width: 50px;
	padding-left: 30px;
	font-style: italic;
	background-image: url(../../../icones/bolo.gif);
	background-repeat: no-repeat;
	height: 22px;
}

.galeraemail{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
	margin-top: 2px;
	font-weight: normal;
	background-image:url(../../../icones/gemail.gif);
	background-repeat: no-repeat;
	padding: 3px;
	padding-left: 25px;
	margin-left: 10px;
}
.galeramsn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
	margin-top: 2px;
	font-weight: normal;
	background-image:url(../../../icones/gmsn.gif);
	background-repeat: no-repeat;
	padding: 3px;
	padding-left: 25px;
	margin-left: 10px;
}
.galeraorkut{
	margin-top: 2px;
	padding: 3px;
	padding-left: 0px;
	margin-left: 10px;
}
.galeracidade{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-top: 8px;
	font-weight: normal;	
	font-style: italic;
	margin-left: 10px;
	margin-bottom: 5px;
}
a.linkbusca{
	display: block;
	background-image:url(../../../icones/lupa.jpg);
	background-repeat: no-repeat;
	background-position: left;
	padding: 8px;
	padding-left: 40px;
}

.bordafundofoto{
	border-right: 2px solid #999999;
	background-color: #EEEEEE;
	text-align: center;
}
.divisortabela{
	margin-top: 10px;
}
.bordatabela{
	background-color: #EEEEEE;
}
.bordafundodados{
	 background-color: #D8E2DE;
	 padding-bottom: 15px;
}
.bordaatencao{
	background-color:#FFFFFF;
	padding: 5px;
	font-size: 11px;
	border: 1px solid #DDDDDD;
	color: #990000;
}
.tabelacadastro{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}
/* formulario */
.formgalera{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	width: 200px;
}
.galerabotaoform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 2px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}
.galeracaracteres{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
}
.galerabotaoform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}
.campoobr{
	font-size: 11px;
	padding-top: 3px;
	font-weight: normal;
}
.obsform{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: normal;
}
