#btnCarregarMaisFotos{
    display: block;
    text-align: center;
    background-color: #B20000;
    color: #FFF;
    padding: 10px;
    clear: both;
}
#bordagaleria{
	background-color: #FFF;
	width: 100%;
	position: relative;
}
#load{
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #FFF;
	padding: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	z-index: 1000;
	width: 110px;
	padding-left: 35px;
	display: none;
	border: 1px solid #CCC;
	background-image: url(load28.gif);
	background-repeat: no-repeat;
}
#bordaminiaturas{
	display: inline;
	margin: 3px;
	width: 185px;
	float: right;
	border-left: 1px solid #DDD;
	padding-left: 2px;
	overflow: hidden;
}
#miniaturas{
	height: 350px;
}
#miniaturas img{
	height: 100%;
}
#miniaturas > a{
	display: block;
	width: 177px;
	height: 134px;
	float: left;
	overflow: hidden;
	margin: 3px;
	text-align: center;
}
#miniaturas a:hover{
	display: block;
	float: left;
	overflow: hidden;
	margin: 3px;
	text-align: center;
    opacity: 0.5;
    MozOpacity: 0.5;
    KhtmlOpacity: 0.5;
    filter: alpha(opacity=50);
}
#miniaturas > a:empty {
    width: 0px;
    height: 0px;
    margin: 0px;
}

#totalmin{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	padding: 3px;
	border-bottom: 2px solid #999;
	padding-top: 10px;
	text-align: right;
	clear: both;
}
#navmin{
	margin-top: 5px;
	text-align: right;
	position: relative;
	width: 100%;
}
#minst{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #069;
	position: absolute;
	display: block;
	left: 5px;
	top: 5px;
}
#navmin img{
	cursor: pointer;
}

/* foto */
#nav{
	position: absolute;
	clear: both;
	padding: 2px;
	bottom: 0px;
	left: 0px;
	width: 480px;
	text-align: left !important;
}
#fotost{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #069;
	position: absolute;
	display: block;
	left: 95px;
	top: 8px;
}
#nav img{
	cursor: pointer;
}
#status{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	position: absolute;
	display: block;
	right: 0px;
	top: 7px;
}

.fancybox-caption {
	font-size: 20px;
	text-align: center;
}
.fancybox-caption a {
	padding: 15px 10px;
	text-decoration: none !important;
	z-index: 20;
	position: relative;
}
@media (width: 980px) {
	.fancybox-caption {
    	padding: 50px 0;
	}
	.fancybox-caption a.btn {
		font-size: 50px;
		display: block;
		box-sizing: border-box;
		width: 50%;
		margin: 0 auto;
		padding: 40px 10px;
	}
}