.muralbordalista{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 2px solid #CCCCCC;
	height: auto;
	width: 555px;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.muralbordatitulolista{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}
.muralcaixacomentario{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-align: right;
	font-weight: normal;
}
.muraldescricaotitulo{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
.muraldata{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	margin-top: 2px;
	font-weight: normal;
	font-style: italic;
}
.muralemail{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top: 4px;
	font-weight: normal;
}

a.linkcomentarios{
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	margin-top: 2px;
	display: block;
	text-decoration: none;
	background-image: url(../icones/comentario.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-bottom: 2px;
}
a.linkcomentarios:hover{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	margin-top: 2px;
	display: block;
	text-decoration: none;
	background-image: url(../icones/comentario.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-bottom: 2px;
}

/* formulario */
.muralcaixaform{
	padding: 10px;
	width: 350px;
	height: auto;
	border: 2px solid #999999;
	background-color: #F9F9F9;
	position: absolute;
	top: -30px;
	left: -1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	text-align:left;
	z-index: 50;
}
.muralform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	width: 295px;	
	margin-bottom: 8px;
	z-index: auto;
}
.muralcaracteres{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
}
.muralbotaoform{
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}
.muralload{
	margin-top: 10px;
	display: none;
}

/* smiles */
a.muralbotsmile{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	padding: 4px;
	margin-top: 5px;
        margin-bottom: 10px;
	background-image: url(../icones/smile.gif);
	background-repeat: no-repeat;
	padding-left: 47px;
}
a.muralbotsmile:hover{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	background-color: #F5F5F5;
	border: 1px solid #999999;
	padding: 4px;
	margin-top: 5px;
	background-image: url(../icones/smile.gif);
	background-repeat: no-repeat;
	padding-left: 47px;
}
.muralfundosmiles{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 5px;	
}
.muralsmile{
	cursor: pointer;
	margin: 2px;
}
