/*
    Document   : style
    Created on : 03/07/2013, 20:04:41
    Author     : Douglas
    Description:
        Purpose of the stylesheet follows.
*/
html,body{
    min-width: 100%;
    min-height: 100%;
}
body{
    background: url("img/bg_site.jpg") center top no-repeat #FFDE9B;
    /*background: url("img/tmp/16_col.gif") center repeat-y #FFDE9B;*/
    padding-top: 10px;
    position: relative;

}
a{
    text-decoration: none;
}
.logoTopo{
    z-index: 1;
    position: relative;
}
.contatoTopo p{
    color: #B20000;
    font-weight: bold;
    text-shadow: 0px 1px 0px #000;
    text-align: center;
    margin: 5px 0px;
}
.menuTopoPrincipal{
    margin-top: 15px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    margin-right: 0px;
    margin-left: 20px;
}
.menuTopoPrincipal > li,
.menuTopoSecundario > li{
    display: inline;
    text-align: center;
}
.menuTopoPrincipal a,
.menuTopoSecundario a{
    text-decoration: none;
}
.menuTopoPrincipal > li > a{
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FF4000;
    padding: 0px 5px;
}
.menuTopoPrincipal > li > a:hover{
    color: #FFFF00;
}
.menuTopoSecundario{
    background: url("img/bg_menu_sec.png") center top repeat-x;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 1px #000;
    margin-top: 68px;
}
.menuTopoSecundario li{
    line-height: 30px;
}
.menuTopoSecundario a{
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 0px #000;
    padding: 0px 13px;
}
.menuTopoSecundario a:hover{
    color: #EE2C2C;
}

#sliderPrincipal{
    position: relative;
    top: -105px;
    z-index: 0;
    margin-bottom: -105px;
    height: 415px;
    width: 960px;
    overflow: hidden;
}

.box{
    margin-top: 20px;
    position: relative;
}
.box .content{
    border-width: 1px;
    border-style: solid;
    background-color: #FFF;
    min-height: 272px;
}
.laranja .content,.laranja{
    border-color: #FF4000;
}
.verde>.content,.verde{
    border-color: #0D3300;
}
.vermelho>.content,.vermelho{
    border-color: #B20000;
}
.azul>.content,.azul{
    border-color: #002040;
}
.amarelo>.content,.amarelo{
    border-color: #FFCB25;
}
.cinza>.content,.cinza{
    border-color:  #BBBBCA;
}
.petroleo>.content,.petroleo{
    border-color:  #008C8C;
}
.preto>.content,.preto{
    border-color:  #000;
}
.ciano>.content,.ciano{
    border-color: #008F9F;
}
.laranja *{
    color: #FF4000;
}
.vermelho *{
    color: #B20000;
}
.amarelo *{
    color: #FFCB25;
}
.preto *{
    color: #333333;
}

.boxMaisEventos li{
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 170px;
    height: 45px;
    position: relative;
}

.boxMaisEventos ul li a{
    border-top: 3px solid #FF4100;
    background: #000;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: block;
    text-decoration: none;
    font-family: "Tahoma", sans-serif;
    padding: 5px 0px;
    bottom: 0px;
    position: absolute;
    width: 220px;
    min-height: 40px;
}

.btn{
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}
.btn:hover{
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
}
.btn:active{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5) inset;
}

.btn.right{
    float: right;
}
.btn.left{
    float: left;
}

.btn.laranja{
    background-color: #FF4000;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFBF00, #FF8000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFBF00, #FF8000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFBF00, #FF8000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FFBF00, #FF8000);
}
.btn.verde{
    background-color: #00661A;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #00B200, #01671B);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #00B200, #01671B);
    /* IE 10 */
    background: -ms-linear-gradient(top, #00B200, #01671B);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #00B200, #01671B);
}
.btn.vermelho{
    background-color: #B20101;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #D90000, #B20000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #D90000, #B20000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #D90000, #B20000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #D90000, #B20000);
}
.btn.azul{
    background-color: #365CA0;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #017FFD, #395A9B);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #017FFD, #395A9B);
    /* IE 10 */
    background: -ms-linear-gradient(top, #017FFD, #395A9B);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #017FFD, #395A9B);
}
.btn.amarelo{
    background-color: #FFCB25;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFFF00, #FFC926);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFFF00, #FFC926);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFFF00, #FFC926);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FFFF00, #FFC926);
}
.btn.cinza{
    background-color:  #BBBBCA;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ECECFB, #B9B9C8);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ECECFB, #B9B9C8);
    /* IE 10 */
    background: -ms-linear-gradient(top, #ECECFB, #B9B9C8);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ECECFB, #B9B9C8);
}
.btn.preto{
    background-color:  #646473;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #868695, #000000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #868695, #000000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #868695, #000000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #868695, #000000);
}
.btn.ciano{
    background-color:  #008F9F;
    color: #FFF;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #00FAF1, #008F9F);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #00FAF1, #008F9F);
    /* IE 10 */
    background: -ms-linear-gradient(top, #00FAF1, #008F9F);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #00FAF1, #008F9F);
}

.titAds{
    font-size: 9px;
    text-transform: uppercase;
    color: #999999;
    margin-top: 10px;
}
.titAds.vert{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height: 25px;
    width: 95px;
    display: block;
}
.ads{
    border: 1px solid #CCCCCC;
    background: #EEE;
    display: block;
    margin-bottom: 10px;
    padding: 0px;
    position: relative;
}
.ads object{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.ads.peq{
    height: 90px;
    width: 165px;
}
.ads.h360{
    height: 360px;
    width: 165px;
}
.ads.links{
    height: 45px;
    width: 165px;
}
.ads.largo{
    height: 65px;
    width: 530px;
}

h2{
    font-size: 20px;
    padding: 3px 5px;
    margin: 0px;
}

h3{
    font-size: 16px;

}
.verde h2{
    color: #FFF;
    background: #01671B;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #00B200, #01671B);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #00B200, #01671B);
    /* IE 10 */
    background: -ms-linear-gradient(top, #00B200, #01671B);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #00B200, #01671B);
}

.verde b{
    color: #006619;
}
.laranja h2{
    color: #FFF;
    background: #FF4000;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFBF00, #FF8000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFBF00, #FF8000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFBF00, #FF8000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FFBF00, #FF8000);
}

.vermelho h2{
    color: #FFF;
    background: #B20000;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #D90000, #B20000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #D90000, #B20000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #D90000, #B20000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #D90000, #B20000);
}
.azul h2{
    color: #FFF;
    background: #395A9B;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #017FFD, #395A9B);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #017FFD, #395A9B);
    /* IE 10 */
    background: -ms-linear-gradient(top, #017FFD, #395A9B);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #017FFD, #395A9B);
}
.amarelo h2{
    color: #FFF;
    background: #FFC926;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFFF00, #FFC926);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFFF00, #FFC926);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFFF00, #FFC926);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FFFF00, #FFC926);
}

.cinza h2{
    color: #FFF;
    background: #BBBBCA;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ECECFB, #B9B9C8);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ECECFB, #B9B9C8);
    /* IE 10 */
    background: -ms-linear-gradient(top, #ECECFB, #B9B9C8);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ECECFB, #B9B9C8);
}

.petroleo h2{
    color: #FFF;
    background: #008C8C;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #00B2B2, #008C8C);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #00B2B2, #008C8C);
    /* IE 10 */
    background: -ms-linear-gradient(top, #00B2B2, #008C8C);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #00B2B2, #008C8C);
}

.preto h2{
    color: #FFF;
    background: #646473;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #868695, #000000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #868695, #000000);
    /* IE 10 */
    background: -ms-linear-gradient(top, #868695, #000000);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #868695, #000000);
}

.ciano h2,
.ciano h3{
    color: #FFF;
    background: #008F9F;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #00FAF1, #008F9F);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #00FAF1, #008F9F);
    /* IE 10 */
    background: -ms-linear-gradient(top, #00FAF1, #008F9F);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #00FAF1, #008F9F);
}


.content{
    padding: 10px;
}

.textCinza{
    color: #858594;
}
.textBranco{
    color: #FFF;
}

.data{
    font-style: italic;
}

.chatBaloom{
    border: 1px solid #DBDBEA;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    background: #ECECFB;
    padding: 5px 10px;
    color: #424251;
    text-shadow: 0px 1px 0px #FFF;
    margin: 10px 0px;
    overflow: hidden;
}
ul.list li img{
    border-right-style: solid;
    border-right-width: 3px;
    float: left;
    margin-right: 10px;
}

ul.grid li img{
    float: left;
}
ul.grid li h3{
    display: block;
    padding: 0px 5px;
    margin-bottom: 10px;
}

.vermelho ul li img{
    border-right-color: #B20000;
}

#rodape{
    background: url("img/bg_rodape.png") repeat-x #FFF;
    position: relative;
    margin-top: 107px;
    height: 300px;

}
#rodape *{
    color: #FFF;
}
#rodape h2{
    text-shadow: 0px 1px 1px #000;
}
#rodape>div{
    background: url("img/topo_rodape.png") center top no-repeat;
    padding-top: 109px;
    top: -107px;
    position: relative;
    margin-bottom: -207px;
}
.logoRodape{
    margin-top: 59px;
}
.copyright{
    text-shadow: 0px 1px 0px #FF8000;
    margin-top: 30px;
}
.copyright>a{
    margin-top: -15px;
}
h2 .icon25{
    margin-right: 10px;
}
.icon25{
    background-image: url("img/icons25.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 38px;
    display: inline-block;
    top: 2px;
    position: relative;

}
.icon25.filmes{
    background-position: 0px 0px;
}
.icon25.recados{
    background-position: 0px -27px;
}
.icon25.galera{
    background-position: 0px -54px;
}
.icon25.destaque{
    background-position: 0px -81px;
}
.icon25.coberturas{
    background-position: 0px -109px;
}
.icon25.aniversarios{
    background-position: 0px -136px;
}
.icon25.videos{
    background-position: 0px -163px;
}
.nivo-caption{
    font-size: 18px;
    font-weight: bold;
}




.bordaeventos{
    border: 1px solid #BBBBBB;
    margin: 0px;
    padding: 0px;
    width: 315px;
    /*height: 260px;*/
    overflow: hidden;
    position: relative;
    background-color: #FFF;
}

.dadoseventos{
    margin: 0px;
    width: 260px;
    height: 208px;
    float: left;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #006699;
    padding: 5px;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
}

.dadoseventos div{
    display: none;
}

#evento1{
    display: block;
}

.dadoseventos img{
    margin-bottom: 7px;
}

a.lkevento{
    float: right;
    display: block;
    padding: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 34px;
    background-color: #EFEFEF;
    height: 24px;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 12px;
    margin: 0px;
    border-left: 1px solid #CCCCCC;
    background-image:url(icones/botaocoberturas.jpg);
    background-repeat: no-repeat;
}

a.lkevento:hover{
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

a.lkevover{
    float: right;
    display: block;
    padding: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FF6600;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 34px;
    background-color: #FFFFFF;
    height: 24px;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 12px;
    margin: 0px;
    border-left: 1px solid #FFFFFF;
    background-image:url(/icones/botaocoberturasover.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

a.lkevover:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FF6600;
    text-decoration: none;
}
a.lkeventodes{
    float: right;
    display: block;
    padding: 5px;
    width: 35px;
    background-color: #DDDDDD;
    height: 26px;
    margin: 0px;
    text-decoration: none;
}
.dadoseventos a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
}
.linkCoberturas{
    top: -45px;
    position: relative;
    background-color: rgba(255,255,255,0.9);
    display: block;
    height: 50px;
}
.dadoseventos a:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #006699;
    font-weight: bold;
    text-decoration: underline;
}

.textLaranja{
    color: #FF4000;
}

.breadcrumb{
    margin-bottom: 10px;
    font-size: 11px;
}
.breadcrumb a{
    color: #FFF;
}
.breadcrumb a:hover{
    text-decoration: underline;
}
.breadcrumb > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.breadcrumb > li > .divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumb > .active {
    color: #B2CBFF;
}

hr{
    margin: 10px 0px;
}

.msgaviso{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    color: #006600;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:#E1FFE2;
    border: 1px solid #009900;
}
.msgerro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #CC0000;
    background-color:#FFF0F0;
    margin-bottom: 15px;
    border: 1px solid #FF9194;
}
.fundobusca{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #006666;
    font-weight: bold;
    position: relative;
}
.fundoexibindo{
    text-align: left;
    padding: 8px;
    margin-bottom: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    background-color: #EEEEEE;
    height: auto;
    display: block;
    float: none;
}

#topo{
    position: relative;
}
.AdsTopo{
    top: 200px;
    position: absolute;
}

.recadoFull{
    display: none;
    position: absolute;
    top: -10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 2;
}

/* banner pop */

#bannerpop{
	position: absolute;
	border: 2px solid #999;
	background-color: #FFF;
	top: 100px;
	left: 30%;
	text-align: center;
	z-index: 3;
}
#bannerpop a{
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 8px;
}
#bannerpop img{
	margin: 10px;
	margin-top: 30px;
	display: block;
	padding-top: 10px;
	border-top: 1px solid #CCC;
}