/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font: 13px/1.5 "Verdana", Arial, "Liberation Sans", FreeSans, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

.text10{
    font-size: 10px;
}

.text11{
    font-size: 11px;
}

.text12{
    font-size: 12px;
}

.text14{
    font-size: 14px;
}

.text18{
    font-size: 18px;
}

.textCenter{
    text-align: center;
}
.textBold{
    font-weight: bold;
}
.textUpp{
    text-transform: uppercase
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/



p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 0px;
}