/* 
    Document   : style
    Created on : 03/07/2013, 20:04:41
    Author     : Douglas
    Description:
        Purpose of the stylesheet follows.
*/
body{    
    background: url("../img/bg_site.jpg") center top no-repeat #FFDE9B;
    /*background: url("../img/tmp/16_col.gif") center repeat-y #FFDE9B;*/
    padding-top: 10px;
    position: relative;
}
a{
    text-decoration: none;
}
.logoTopo{
    z-index: 1;
    position: relative;
}
.contatoTopo p{
    color: #B20000;
    font-weight: bold;
    text-shadow: 0px 1px 0px #000;
    text-align: center;
    margin: 5px 0px;
}
.menuTopoPrincipal{
    margin-top: 15px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.menuTopoPrincipal > li,
.menuTopoSecundario > li{
    display: inline;
    text-align: center;
}
.menuTopoPrincipal a,
.menuTopoSecundario a{
    text-decoration: none;
}
.menuTopoPrincipal > li > a{
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0px 1px 1px #FF4000;
    padding: 0px 4px;
}
.menuTopoPrincipal > li > a:hover{
    color: #FFFF00;
}
.menuTopoSecundario{    
    background: url("../img/bg_menu_sec.png") center top repeat-x;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 1px #000;
    margin-top: 68px;
}
.menuTopoSecundario li{
    line-height: 30px;
}
.menuTopoSecundario a{
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 0px #000;
    padding: 0px 14px;
}
.menuTopoSecundario a:hover{
    color: #EE2C2C;
}

#sliderPrincipal{
    position: relative;
    top: -105px;
    z-index: 0;
    margin-bottom: -105px;
}

.box{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.box .content{
    border-width: 1px;
    border-style: solid;   
    background-color: #FFF; 
}
.laranja .content,.laranja{
    border-color: #FF4000;
}
.verde>.content,.verde{
    border-color: #0D3300;
}
.vermelho>.content,.vermelho{
    border-color: #B20000;
}
.azul>.content,.azul{
    border-color: #002040;
}
.amarelo>.content,.amarelo{
    border-color: #FFCB25;
}
.cinza>.content,.cinza{
    border-color:  #BBBBCA;
}
.preto>.content,.preto{
    border-color:  #000;
}
.roxo>.content,.roxo{
    border-color: #8500B2;
}
.vermelho *{
    color: #B20000;
}
.amarelo *{
    color: #FFCB25;
}
.preto *{
    color: #333333;
}

.boxMaisEventos{

}

.boxMaisEventos li{
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 105px;
}

.boxMaisEventos ul li a{
    border-top: 3px solid #FF4100;
    background: #000;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: block;
    text-decoration: none;
    font-family: "Tahoma", sans-serif;
    padding: 5px 0px;
}

.btn{
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
}

.btn.right{
    float: right;
}
.btn.left{
    float: left;
}

.btn.laranja{
    background-color: #FF4000;
    color: #FFF;
}
.btn.verde{
    background-color: #00661A;
    color: #FFF;
}
.btn.vermelho{
    background-color: #B20101;
    color: #FFF;
}
.btn.azul{
    background-color: #365CA0;
    color: #FFF;
}
.btn.amarelo{
    background-color: #FFCB25;
    color: #FFF;
}
.btn.cinza{
    background-color:  #BBBBCA;
    color: #FFF;
}
.btn.preto{
    background-color:  #646473;
    color: #FFF;
}
.btn.roxo{
    background-color:  #8702B4;
    color: #FFF;
}

.titAds{
    font-size: 9px;
    text-transform: uppercase;
    color: #999999;
    margin-top: 10px;
}
.titAds.vert{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height: 25px;
    width: 95px;
    display: block;
}
.ads{
    border: 1px solid #CCCCCC;
    background: #EEE;    
    display: block;
    margin-bottom: 10px;
}
.ads.peq{
    height: 90px;
    width: 165px;
}
.ads.largo{
    height: 65px;
    width: 530px;
}

h2{
    font-size: 25px;
    padding: 3px 5px;
    margin: 0px;
}

h3{
    font-size: 16px;

}
.verde h2{
    color: #FFF;
    background: #01671B;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.verde b{
    color: #006619;
}

.vermelho h2{
    color: #FFF;
    background: #B20000;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}
.azul h2{
    color: #FFF;
    background: #395A9B;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}
.amarelo h2{
    color: #FFF;
    background: #FFC926;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

.cinza h2{
    color: #FFF;
    background: #BBBBCA;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

.preto h2{
    color: #FFF;
    background: #646473;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

.roxo h2,
.roxo h3{
    color: #FFF;
    background: #8702B4;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

.content{
    padding: 10px;
}

.textCinza{
    color: #858594;
}

.data{
    font-style: italic;
}

.chatBaloom{
    border: 1px solid #DBDBEA;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    background: #ECECFB;
    padding: 5px 10px;
    color: #424251;
    text-shadow: 0px 1px 0px #FFF;
    margin: 10px 0px 0px 0px;
}
ul.list li img{
    border-right-style: solid;
    border-right-width: 3px;
    float: left;
    margin-right: 10px;
}

ul.grid li img{
    float: left;
}
ul.grid li h3{
    display: block;
    padding: 0px 5px;
    margin-bottom: 10px;
}

.vermelho ul li img{
    border-right-color: #B20000;
}

#rodape{
    background: url("../img/bg_rodape.png") repeat-x #FFF;
    position: relative;
    margin-top: 107px;
    height: 300px;
    
}
#rodape *{
    color: #FFF;
}
#rodape h2{
    text-shadow: 0px 1px 1px #000;
}
#rodape>div{
    background: url("../img/topo_rodape.png") center top no-repeat;
    padding-top: 109px;
    top: -107px;
    position: relative;
    margin-bottom: -207px; 
}
.logoRodape{
    margin-top: 59px;
}
.copyright{
    text-shadow: 0px 1px 0px #FF8000;
    margin-top: 30px;
}
.copyright>a{
    margin-top: -15px;
}

.icon25{
    background-image: url("../img/icons25.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 38px;
    display: inline-block;
    top: 2px;
    position: relative;
}
.icon25.filmes{
    background-position: 0px 0px;
}
.icon25.recados{
    background-position: 0px -27px;
}
.icon25.galera{
    background-position: 0px -54px;
}
.icon25.destaque{
    background-position: 0px -81px;
}
.icon25.coberturas{
    background-position: 0px -109px;
}
.icon25.aniversarios{
    background-position: 0px -136px;
}
.icon25.videos{
    background-position: 0px -163px;
}
.nivo-caption{
    font-size: 18px;
    font-weight: bold;
}

.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
