.bordafundofoto{
	border-right: 2px solid #999999;
	background-color: #EEEEEE;
	text-align: center;
}
.divisortabela{
	margin-top: 10px;
}
.bordatabela{
	background-color: #EEEEEE;
}
.bordafundodados{
	 background-color: #D8E2DE;
	 padding-bottom: 15px;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.eventodata{
	margin-top: 8px;
	margin-bottom: 3px;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	float: right;
}
.eventodescricao{
	color: #333333;
	font-size: 12px;
	font-weight: normal;
}

a.eventotitulolista{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 color: #006666;
	 font-weight: bold;
	 text-decoration: none;
	 display: block;
	 margin-bottom: 10px;
}
a.eventotitulolista:hover{
	 font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	  color: #006666;
	 font-weight: bold;
 	 text-decoration: underline;
	 display: block;
	 margin-bottom: 10px;
}
