
.nomegata{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #006666;
	margin-bottom: 13px;
	font-weight: normal;
	height: auto;
	padding: 13px;
	text-align: left;
	position: relative;
	padding-left: 0px;
}
.perfilgataborda{
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
	text-align: left;
	min-height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #006666;
	
}
.perfilgataborda div{
	margin-bottom: 3px;
	margin-left: 120px;
	position: relative;
}
.perfilgataborda span{
	display: block;
	position: absolute;
	top: 0px;
	left: -115px;
	width: 110px;
	text-align: right;
	color: #333333;
	font-weight: bold;
}
.bordafotogata{
	position: absolute;
	text-align: right;
	left: 260px;
	width: 300px;
	top: 40px;
	z-index: 10;
}

.bordadescricao{
	position: absolute;
	text-align: right;
	left: 260px;
	width: 290px;
	top: 1px;
	z-index: 11;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 22px;
	font-weight: normal;
}
.bordadescricaosub{
	position: absolute;
	text-align: right;
	left: 250px;
	width: 290px;
	top: 5px;
	z-index: 10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #DFEEE8;
	font-size: 25px;
	font-weight: normal;
}
.bordafotogata img{
	padding: 2px;
	border: 2px solid #006666;
	background-color: #FFFFFF;
}
.bordagatalista{
	padding: 2px;
	width: 268px;
	height: 201px;
	border: 1px solid #999999;	
	position: relative;
	overflow: hidden;
	float: left;
	margin: 2px;
}
.barragata{
	position: absolute;
	left: 2px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006666;
	background-color: #FFFFFF;
	top: 166px;
	width: 268px;
	text-align: left;
	height: 37px;
	border-top: 1px solid #999999;
	font-weight: bold;
}
.barragata div{
	float: left;
	margin: 10px;
	height: 20px;
	width: auto;
	overflow: hidden;
}
.barragata a{
	display: block;
	background-image: url(../icones/setagata.gif);
	background-position: right;
	background-repeat: no-repeat;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6600;
	font-weight: bold;
	padding-right: 38px;
	margin: 4px;
	padding-left: 10px;
	border-left: 2px solid #999999;
}

.barragata a:hover{
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6600;
	font-weight: bold;
	text-decoration: underline;
}

.barraperfil{
	border-bottom: 2px solid #006666;
	text-align: left;
	height: 24px;
}

a.linkbarra{
	display: block;
	padding: 5px;
	background-color: #006666;
	color: #FFFFFF;
	margin-right: 1px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
a.linkbarra:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
a.linkbarradesat{
	display: block;
	padding: 5px;
	background-color: #E9EFEC;
	color: #333333;
	margin-right: 1px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
a.linkbarradesat:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}

/* fotos */
.fotosgataborda{
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006666;
	text-align: left;
	min-height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
	
}
.qtdfotos{
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #555;
	text-align: left;
	font-size: 14px;
}